[Unit]
Description=Channels DVR
Wants=network-online.target time-sync.target
Requires=media.mount mnt-data.mount
After=media.mount mnt-data.mount

[Service]
Type=simple
User=channels
Group=channels
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/mnt/data/channels-dvr/data
Environment=CHANNELS_DVR_DEFAULT_PATH=/media/DVR
ExecStart=/mnt/data/channels-dvr/latest/channels-dvr -dir /mnt/data/channels-dvr/data/
Restart=always
RestartSec=30
LimitNOFILE=8192
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
