[Unit]
Description=Dropbear Recovery SSH daemon
After=syslog.target network.target auditd.service
RequiresMountsFor=/etc/dropbear

[Service]
ExecStart=/usr/sbin/dropbear -F -R -E -p 22
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=recovery.target