[Unit]
Description=DVR exFAT resizing
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Requires=mnt-data.mount
After=mnt-data.mount
After=systemd-fsck@dev-disk-by\x2dlabel-hassos\x2ddata.service
ConditionKernelCommandLine=!systemd.unit=recovery.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hassos-expand
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
