[Unit]
Description=RAUC Good-marking Service
ConditionKernelCommandLine=|bootchooser.active
ConditionKernelCommandLine=|rauc.slot
Requires=rauc.service channels-dvr.service
After=rauc.service channels-dvr.service

[Service]
ExecStart=/usr/bin/rauc status mark-good
ExecStartPost=-echo default-on > /sys/class/leds/led0/trigger

[Install]
WantedBy=multi-user.target