[Unit]
Description=Recovery Mode
Documentation=man:systemd.target(5)
Requires=sysinit.target hassos-bind.target hassos-config.service recovery.service
Wants=NetworkManager.service network.target avahi-daemon.service
After=sysinit.target network.target hassos-bind.target NetworkManager.service recovery.service
AllowIsolate=yes
