[Unit]
Description=Recovery Mode
Documentation=man:systemd.target(5)
Requires=sysinit.target network.target hassos-bind.target recovery.service
After=sysinit.target network.target hassos-bind.target recovery.service
AllowIsolate=yes
