[Unit]
Description=Mount Shares
Requires=shares.mount network-online.target
After=shares.mount network-online.target winbindd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /sbin/distro-shares start

[Install]
WantedBy=multi-user.target
