[Unit]
Description=Mount USB Drive on %i
Requires=media.mount mnt-overlay.mount hassos-expand.service
After=media.mount mnt-overlay.mount hassos-expand.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/usb-mount add %i
ExecStop=/usr/sbin/usb-mount remove %i
