[Unit]
Description=Samba persistent state
Requires=mnt-overlay.mount
After=mnt-overlay.mount

[Mount]
What=/mnt/overlay/var/lib/samba
Where=/var/lib/samba
Type=None
Options=bind

[Install]
WantedBy=hassos-bind.target
